<div class="container">
	<% @ing_recipes.each do |ing_recipe| %>
	<div class="card-pending">
		<h2><%= ing_recipe.ingredient.name %></h2>
		<h3><%= ing_recipe.quantity %></h3>
	</div>
	<% end %>
	<div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="container-login">
        <h2>Add new ingredient</h2>

        <%= simple_form_for [@recipe,@ingredient_recipe] do |f| %>

        <div class="form-inputs">
          <%= f.association :ingredient, required: true %>
          <%= f.input :quantity, required: true %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Add", class: "btn btn-success" %>
        </div>
        <% end %>
      </div>
    </div>
  	<div class="meh col-xs-12 col-sm-4">
		<%= link_to "Save and leave", mypage_path, class: "btn btn-help" %> <br>
		<%= link_to "continue", edit_recipe_path(@recipe),class: "btn btn-primary" %>
	</div>
	</div>
</div>