<div class="container">
	<h1 class="title-ingredients"><%= @recipe.title.capitalize %></h1>
	<h1 class="recipe-titles"><%= @recipe.category %></h1>
	<h2>My ingredients: </h2>
	<div class="ingredients-wrapper">
		<div class="row">
			<div class="col-sm-6">
				<div class="container-ingredients-form">
					<h2>Add new ingredient</h2>
					<%= simple_form_for [@recipe,@ingredient_recipe] do |f| %>
					<div class="form-inputs">
						<%= f.association :ingredient, required: true %>
						<%= f.input :quantity, required: true %>
					</div>
					<div class="form-actions">
						<%= f.button :submit, "Add", class: "btn btn-success" %>
					</div>
					<% end %>
				</div>
			</div>
			<div class="col-sm-6">
				<% @ing_recipes.each do |ing_recipe| %>
				<div class="card-ingredient">
					<h2><%= ing_recipe.ingredient.name %></h2>
					<h3><%= ing_recipe.quantity %>g</h3>
				</div>
				<% end %>
			</div>
			<div class="col-xs-12">
				<div class="ingredient-buttons">
				<%= link_to "Save and leave", mypage_path, class: "btn btn-help text-center" %> 
				<%= link_to "continue", edit_recipe_path(@recipe),class: "btn btn-primary text-center" %>
				</div>
			</div>
		</div>
	</div>
</div>
