<div class="container">
  <div class="row  col-sm-offset-3 col-sm-off">

<%= simple_form_for @recipe do |f| %>

<%= f.input :title %>
<%= f.input :effect %>
<%= f.input :difficulty, collection: [1, 2, 3] %>
<%= f.input :cost, collection: [1, 2, 3] %>
<%= f.input :purpose %>
<%= f.input :description %>
<%= f.input :tag_ids, as: :check_boxes, collection:  Tag.all, label_method: :name, value_method: :id %>
<%= f.simple_fields_for :recipe_photos do |p| %>
<%= p.input :photo %>
  <% end %>
<%= f.button :submit, class: "btn btn-success" %>
<% end %>
</div>
</div>
