<div class="container-filters">
  <div class="row">
    <%= form_tag recipes_path, method: :get do %>
    <div class="col-sm-4">
    <%= radio_button_tag(:sort, :desc) %>
    <%= label_tag :sort, "Price desc"  %>
    </div>
    <div class="col-sm-4">
    <%= radio_button_tag(:sort, :asc) %>
    <%= label_tag :sort, "Price asc"  %>
    </div>
    <div class="col-sm-4">
    <%= radio_button_tag(:sort, :diff_asc) %>
    <%= label_tag :sort, "By simplicity"  %>
    </div>
    <div class="col-sm-4">
    <%= radio_button_tag(:sort, :diff_desc) %>
    <%= label_tag :sort, "By difficulty"  %>
    </div>
    <div class="col-sm-4">
    <%= radio_button_tag(:sort, :views) %>
    <%= label_tag :views, "By popularity"  %>
    </div>
      <%= submit_tag("Sort", class: "btn btn-success", id: "search-filter") %>
    <% end %>
  </div>
</div>

<div class="container-recipe">

   <div class="row">
    <button class="fat btn btn-warning text-right">Sort results</button>
    <h1 class="text-center">Recipes</h1>
    <% @recipes.each do |recipe| %>
    <div class="col-xs-12">
      <div class="card-recipe">
        <%= link_to "", recipe_path(recipe), class: "card-link" %>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="card" >
              <% if recipe.recipe_photos.first != nil %>
                <%= cl_image_tag recipe.recipe_photos.first.photo, crop: :fill, class: "card-photos" %>
              <% end %>
              <div class="card-category"><%= recipe.purpose %></div>
            <div class="card-description">
            </div>
          </div>
        </div>
          <div class= "col-xs-12 col-sm-6 col-md-6">
            <div class="card-body">
              <h2><%= recipe.title %></h2>
              <hr>
              <p><%= recipe.description %></p>
              <% if current_user.nil? %>
                <%= link_to "Edit", edit_moderators_recipe_path(recipe), class: "btn btn-warning" %>
                <%= link_to "Delete", recipes_path, class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>
      </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
