<div class="container-filters">
  <form action="/recipes" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <div class="filters-form">
      <div class="sort-btn">
        <input type="radio" name="sort" id="sort_desc" value="desc" class="hidden" />
        <label for="sort_desc">Price desc</label>
      </div>
      <div class="sort-btn">
        <input type="radio" name="sort" id="sort_asc" value="asc" class="hidden" />
        <label for="sort_asc">Price asc</label>
      </div>
      <div class="sort-btn">
        <input type="radio" name="sort" id="sort_diff_asc" value="diff_asc" class="hidden" />
        <label for="sort_diff_asc">By simplicity</label>
      </div>
      <div class="sort-btn">
        <input type="radio" name="sort" id="sort_diff_desc" value="diff_desc" class="hidden" />
        <label for="sort_diff_desc">By difficulty</label>
      </div>
      <div class="sort-btn">
        <input type="radio" name="sort" id="sort_views" value="views" class="hidden" />
        <label for="sort_views">By popularity</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-5">
        <button type="submit" class="btn btn-success">Sort</button>
      </div>
    </div>
  </form>
</div>

<div class="container-recipe">

   <div class="row">
    <button class="fat btn btn-warning text-right">Sort results</button>
    <h1 class="text-center">Recipes</h1>
    <% @recipes.each do |recipe| %>
    <div class="col-xs-12">
      <div class="card-recipe">
        <div class="card-edit">
          <%= link_to "Edit", edit_moderators_recipe_path(recipe), class: "btn btn-warning" %>
          <%= link_to "Delete", recipes_path, class: "btn btn-danger" %>
        </div>
        <%= link_to "", recipe_path(recipe), class: "card-link" %>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="card" >
              <% if recipe.recipe_photos.first != nil %>
                <%= cl_image_tag recipe.recipe_photos.first.photo, crop: :fill, class: "card-photos" %>
              <% end %>
              <div class="card-category"><%= recipe.purpose %></div>
            <div class="card-description">
            </div>
          </div>
        </div>
          <div class= "col-xs-12 col-sm-6 col-md-6">
            <div class="card-body">
              <h2><%= recipe.title %></h2>
              <hr>
              <p><%= recipe.description %></p>
              <% if current_user.nil? %>
                <%= link_to "Edit", edit_moderators_recipe_path(recipe), class: "btn btn-warning" %>
                <%= link_to "Delete", recipes_path, class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>
      </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
