<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-recipe">
        <h2>New recipe</h2>
        <%= simple_form_for @recipe do |f| %>
        <%= f.input :title %>
        <%= f.fields_for :recipe_photos do |p| %>
          <%= p.label :photo %>
        <%= p.file_field :photo, multiple: true, name: "recipe_photos[photo][]" %>
        <% end %>
        <%= f.button :submit, class: "btn btn-success" %>
      <% end %>
      </div>
    </div>
  </div>
</div>



