<div class="container">
  <div class="container-content ">
    <div class="row">
      <div class="col-xs-12 col-sm-07">
        <h2 class="recipe-title"><%= @recipe.title %></h2>
        <div class="recipe-summary row">
          <div class="recipe-attributes col-xs-12 col-sm-7">
            <p><%= @recipe.views %></p>
            <div class="ratings">
              <h4>Rating</h4>
                <div class='padded-1em'>
              <% 5.times do |i| %>
              <% if i < @average_rating %>
              <i class="fa fa-star yellow"></i>
              <% else %>
              <i class="fa fa-star gray"></i>
              <% end %>
              <% end %>
              </div>
            </div>
            <div class="general-info">
              <ul class="list-inline infos">
                <li id="feature"><%= @recipe.feature %></li>
                <li id="dificulty"><Difficulty></li>
                  <% 3.times do |i|  %>
                  <% if i < @recipe.difficulty %>
                  <i class="fa fa-eyedropper yellow"></i>
                  <% else %>
                  <i class="fa fa-eyedropper gray"></i>
                  <% end %>
                  <% end %>
                  <li id="cost"><Cost></li>
                    <% 3.times do |i|  %>
                    <% if i < @recipe.cost %>
                    <i class="fa fa-money yellow"></i>
                    <% else %>
                    <i class="fa fa-money gray"></i>
                    <% end %>
                    <% end %>
                  </ul>
                    <div class="row">
                      <div class="col-xs-6">
                        <h4>Preparation time</h4>
                        <p class=" time text-center"> <%=@recipe.preparation_time_min %></p>
                      </div>
                      <div class="col-xs-6">
                        <h4>Application time</h4>
                        <p class="time text-center"> <%=@recipe.application_time_min %></p>
                      </div>
                  </div>
                </div>

              </div>
              <div class="recipe-illustration col-xs-12 col-sm-5">
                <%= render 'carousel' %>
              </div>

            </div>
            <ul class="list-inline actions">
              <li class="link"><%= link_to 'Save', "" %></li>
              <li class="link"><%= link_to 'Rate', "" %></li>
              <li class="link"><%= link_to 'Share', "" %></li>
              <li class="link"><%= link_to 'Pin', "" %></li>
            </ul>
          </div>
        </div>
          <div class="">
          <% if current_moderator %>
                <%= link_to "Edit", edit_moderators_recipe_path(@recipe), class: "btn btn-warning" %>
                <%= link_to "Delete", recipes_path, class: "btn btn-danger" %>
              <% end %>
          </div>
        <div class="recipe-description-content col-xs-12 col-sm-08">
          <div class="content-ingredient"></div>
          <div class="description-content">
            <h3 class="">Description</h3>
            <p><%= simple_format(@recipe.description)%></p>
          </div>
          <div class="tag-content col-xs-12 col-sm-08">
            <% @recipe.tags.each do |tag|%>
            <ul class="list-inline">
              <li class="tag"> <%=tag.name %></li>
            </ul>
             <% end %>
          </div>
        </div>
        <div class="recipe-reviews col-xs-12 col-sm-08">
          <h3>Reviews</h3>
          <%= simple_form_for [@recipe, @review] do |f| %>
          <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5], prompt: 'Rate the recipe' %>
          <%= f.input :content %>
          <%= f.button :submit %>
          <% end %>
          <ul class="list-unstyled">
            <% @recipe.reviews.each do |review| %>
            <li class='padded-1em'>
              <%= review.user.username %>
              <% 5.times do |i| %>
              <% if i < review.rating %>
              <i class="fa fa-star yellow"></i>
              <% else %>
              <i class="fa fa-star gray"></i>
              <% end %>
              <% end %>
              <%= review.content %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
