<div class="container">
  <h1><%= @recipe.title %></h1>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h1>***IMAGE HERE***</h1>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2><%= @recipe.difficulty %></h2>
      <h2><%= @recipe.cost %></h2>
      <p><%= @recipe.purpose %></p>
      <p><%= @recipe.description %></p>
    </div>
  </div>
</div>
