
<div class="row">
  <div class="user-title-container col-xs-12">
    <div class="user-title">
      <h1 class="recipe-title text-center"><%= @recipe.title.capitalize %></h1>
      <div class="link-user">
        <span class="">by </span><h3 class= "text-center btn btn-user"><%=link_to @recipe.user.username.capitalize, user_path(@recipe.user)%></h3>
      </div>
    </div>
  </div>
</div>


<div class="recipe-summary row">
  <div class="recipe-attributes col-xs-12 col-sm-4 col-sm-offset-1">
    <div class="ratings">
      <div class='padded-1em'>
        Rating :
        <% 5.times do |i| %>
        <% if i < @average_rating %>
        <i class="fa fa-star yellow"></i>
        <% else %>
        <i class="fa fa-star gray"></i>
        <% end %>
        <% end %>
      </div>
    </div>
    <p class=" time">
      Preparation time
      <%=@recipe.preparation_time_min %> minutes </p>
      <p class=" time">
        Application time
        <%=@recipe.application_time_min %> minutes</p>
        <p>
          Difficulty :
          <% 3.times do |i|  %>
          <% if i < @recipe.difficulty %>
          <i class="fa fa-eyedropper yellow"></i>
          <% else %>
          <i class="fa fa-eyedropper gray"></i>
          <% end %>
          <% end %>
          <p>
            <p>
              Cost :
              <% 3.times do |i|  %>
              <% if i < @recipe.cost %>
              <i class="fa fa-money yellow"></i>
              <% else %>
              <i class="fa fa-money gray"></i>
              <% end %>
              <% end %>
            </p>

            <div class=""></div>
            <% @recipe.tags.each do |tag|%>
            <p class="tag"> <%=tag.name %></p>
            <% end %>

          </div>
          <div class="carousel-container col-xs-12 col-sm-6 ">
            <%= render 'carousel' %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-9 col-sm-offset-1">
            <ul class="list-inline actions">
              <li class="link"><%= link_to 'Save', "" %></li>
              <li class="link"><%= link_to 'Rate', "" %></li>
              <li class="link"><%= link_to 'Share', "" %></li>
              <li class="link"><%= link_to 'Pin', "" %></li>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 col-sm-offset-1">
          <% if current_moderator %>
            <%= link_to "Edit", edit_moderators_recipe_path(@recipe), class: "btn btn-warning" %>
            <%= link_to "Delete", recipes_path, class: "btn btn-danger" %>
          <% end %>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-9 col-sm-offset-1">
            <div class="col-xs-12 col-sm-8 description-content">
              <h3 class="">Recipe</h3>
            <p><%= simple_format(@recipe.description)%></p>
            </div>
          <div class="col-xs-12 col-sm-4 ingredient-content">
            <h3 class="">Ingredient</h3>
            <% @recipe.ingredient_recipes.each do |ing| %>
            <p><%= ing.ingredient.name %> <%= ing.quantity %>g</p>
            <% end %>
          </div>
        </div>
        </div>

      <div class="container">
      <div class="recipe-reviews col-xs-12 col-sm-8 col-sm-offset-2">
          <h3 class="text-center">Reviews</h3>
          <%= simple_form_for [@recipe, @review] do |f| %>
          <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5], prompt: 'Rate the recipe' %>
          <%= f.input :content %>
          <%= f.button :submit %>
          <% end %>
          <ul class="list-unstyled">
            <% @recipe.reviews.each do |review| %>
            <li class='padded-1em'>
              <%= review.user.username %>
              <% 5.times do |i| %>
              <% if i < review.rating %>
              <i class="fa fa-star yellow"></i>
              <% else %>
              <i class="fa fa-star gray"></i>
              <% end %>
              <% end %>
              <%= review.content %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>


