<div class="container">
  <div class="container-content ">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-xs-offset-2">
        <div class="recipe-summary row">
          <div class="recipe-attributes col-xs-12 col-sm-7">
            <h2 class="recipe-title"><%= @recipe.title %></h2>
            <br>
            <div class="ratings">
              <h4>Ratings</h4>
            </div>
            <div class="general-info">
              <p><%= @recipe.difficulty %></p>
              <p><%= @recipe.cost %></p>
              <p>time</p>
            </div>
          </div>
          <div class="recipe-illustration col-xs-12 col-sm-5">
            <h4>***IMAGE HERE***</h4>
            <p><%= @recipe.purpose %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="user-actions col-xs-12 col-sm-9 col-xs-offset-2">
      <ul class="list-inline">
        <li>Save</li>
        <li>Rate</li>
        <li>Share</li>
        <li>Pin</li>
      </ul>
    </div>
    <div class="recipe-description-content col-xs-12 col-sm-9 col-xs-offset-2">
      <div class="content-ingredient"></div>
      <div class="description-content">
        <h3 class="">Description</h3>
        <p><%= @recipe.description %></p>
      </div>
    </div>
  </div>
</div>

