<div class="banner" >
  <div class="banner-content">
    <%= form_tag recipes_path, class: "form-inline", method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a recipe"
    %>
    <%= submit_tag("Search", class: "btn btn-success", id: "search") %>
    <% end %>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="sugesstions container">
  </br>
    <h2 class="text-center">Discover our selections</h2>
    <div class="row ">
      <div class="col-xs-12 col-sm-4">
        <div class="card dry-hair">
          <div class="card-category"></div>
          <div class="card-description">
            <h3>For dry hair</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card hair-fall"">
          <div class="card-category">-</div>
          <div class="card-description">
            <h3>Falling hair</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card oily">
          <div class="card-category">-</div>
          <div class="card-description">
            <h3>Oily skin</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="link">
<% if moderator_signed_in? %>
  <%= link_to destroy_user_session_path, method: :delete do %>
  <%= t(".sign_out", default: "Log out as a moderator") %>
  <% end %>
  <%= link_to "Dashboard", moderators_recipes_path %>
<% else %>
  <%= link_to t(".sign_in", default: "Login "), new_moderator_session_path, class: "danger-btn" %>
<% end %>
</div>

