<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <%= form_tag recipes_path, class: "form-inline", method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a recipe"
    %>
    <%= submit_tag("Search", class: "btn btn-success", id: "search") %>
    <% end %>
  </div>
</div>

<div class="link">
<% if moderator_signed_in? %>
  <%= link_to destroy_user_session_path, method: :delete do %>
  <%= t(".sign_out", default: "Log out as a moderator") %>
  <% end %>
  <%= link_to "Dashboard", moderators_recipes_path %>
<% else %>
  <%= link_to t(".sign_in", default: "Login "), new_moderator_session_path, class: "danger-btn" %>
<% end %>
</div>
