
<h1 class="text-center">My BeautyBook</h1>
<div class="container">
  <h3 class="text-center"> Hello, <%=current_user.username %></h3>
  <div class="row">
    <div class="col-xs-9 col-sm-07">
      <%= render 'users/shared/user' %>
      <%= link_to "Update my profile", edit_user_registration_path(@user), class: "btn btn-lg" %>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <% @recipes.each do |recipe| %>
      <div class="card-pending">
        <%= recipe.title %>
      <div>
      <%= link_to "Resume", recipe_ingredient_recipes_path(recipe), class: "btn btn-success" %>
      <%= link_to "Delete", recipe_path(recipe),class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>
      <% end %>
  </div>
      <%= link_to "Submit recipe", new_recipe_path, class: "btn btn-lg" %>
  </div>

  <div class="container-board">
  <h2 class="text-center">My Board</h2>
  <div class="wrapper-grey padded">
    <div class="sugesstions container">
      <div class="row ">
        <div class="col-xs-12 col-sm-4">
          <div class="card saved">
            <div class="card-category"></div>
              <div class="card-description">
              <h3>My saved recipes</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card my-recipes">
            <div class="card-category">-</div>
            <div class="card-description">
            <h3>My Beauty recipes</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card my-groups">
            <div class="card-category">-</div>
            <div class="card-description">
            <h3>My Beauty groups</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>






