
<div class="container">
  <h3 class="text-center">Hello, <%= @current_user.username %>.</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <% @recipes.each do |recipe| %>
      <div class="card-pending">
        <%= recipe.title %>
        <div>
          <%= link_to "Add ingredient", new_recipe_ingredient_recipe_path(recipe), class: "btn btn-help" %>
          <%= link_to "Edit", edit_recipe_path(recipe), class: "btn btn-success" %>
          <%= link_to "Delete", recipe_path(recipe),class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-description">
          <h3>Caracteristiques</h3>
          <p>some stuff about me </p>
          <p>Link to update my profil</p>
        </div>
        <%= cl_image_tag current_user.photo, crop: :fill, class: "card-user" %>
      </div>
    </div>
    <%= link_to "Submit recipe", new_recipe_path, class: "btn btn-lg" %>
  </div>


</div>

  <div class="col-xs-12 col-sm-08">
    <div class="tabs">
      <a class="tab active" href="#">
        <h3>12</h3>
        <p>contacts</p>
      </a>
      <a class="tab" href="#">
        <h3>456</h3>
        <p>Following</p>
      </a>
      <a class="tab" href="#">
        <h3>13</h3>
        <p>Submitted recipes</p>
      </a>
    </div>
  </div>

  <div class="wrapper-grey padded">
    <div class="sugesstions container">
    <h2 class="text-center">Discover our suggestions</h2>
    <div class="row ">
      <div class="col-xs-12 col-sm-4">
        <div class="card saved">
          <div class="card-category"></div>
          <div class="card-description">
            <h3>My saved recipes</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card my-recipes">
          <div class="card-category">-</div>
          <div class="card-description">
            <h3>My Beauty recipes</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card my-groups">
          <div class="card-category">-</div>
          <div class="card-description">
            <h3>My Beauty groups</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>





