<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-sm-off">
      <div class="form-login">
        <h2> Your pending preparation</h2>
        <%= simple_form_for @recipe, url: moderators_recipe_path(@recipe) do |f| %>
        <%= f.input :title %>
        <%= f.input :effect %>
        <%= f.input :difficulty, collection: [1, 2, 3] %>
        <%= f.input :cost %>
        <%= f.input :purpose %>
        <%= f.input :description %>
        <%= f.input :tag_ids, as: :check_boxes, collection:  Tag.all, label_method: :name, value_method: :id %>
        <%= f.submit 'Publish', name: "button_action", value: "Publish", class: "btn btn-success" %>
        <%= f.submit 'Decline', name: "button_action", value: "Decline", class: "btn btn-danger" %>
        <%= f.submit 'Keep pending', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

