<h2> Dashboard </h2>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
    <h1 class="text-center"> Pending recipes</h1>
    <% @recipes.each do |recipe| %>
        <div class="card-pending">
            <h2 style= "width: 200px;"><%= recipe.title %></h2>
            <h3><%= recipe.user.username%></h3>
          <%= link_to "Review preparation", edit_moderators_recipe_path(recipe), class: "btn btn-warning" %>
        </div>
    <% end %>
  </div>

  <div class="col-sm-4">
  <div class="container-tags">
  <h1 class="text-center">Tags</h1>
    <%= link_to "Create tag", new_moderators_tag_path, class: "btn" %>
    <% @tags.each do |tag| %>
          <h3><%= tag.name %></h3>
          <%= link_to "Edit Tag", edit_moderators_tag_path(tag), class: "btn btn-success" %>
      <% end %>
    </div>
    </div>
  </div>
</div>
</div>
